.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}

.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}

.rotate-list-counter {
    transform: rotate(-12deg);
    width: 100px;
    background-color: blue;
    color: white;
}

.rotate-list-items li {
    width: 100px;
    text-align: right;
}

.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: yellow;
}

.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: blue;
    color: white;
}

.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: red;
}

.rotate-image {
    transform: rotate(10deg);
}

.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);
}

.rotate-table tr:nth-child(1) {
    background-color: black;
    color: white;
}

.rotate-table tr:nth-child(n+2) {
    background-color: yellow;
}

.rotate-table tr:nth-child(n+5) {
    background-color: blue;
    color: white;
}

.rotate-table tr:nth-child(n+8) {
    background-color: red;
}

.rotate-table tr:nth-child(n+11) {
    background-color: green;
    color: white;
}

.gradients-linear {
    background: linear-gradient(yellow, red); width: 200px;
    height: 200px;
}

.gradients-linear-mine {
    background: linear-gradient(blue, purple); width: 200px;
    height: 200px;
    color: white;
}

.gradients-radial {
    background: radial-gradient(yellow, green); width: 200px;
    height: 200px;
}

.gradients-radial-mine {
    background: radial-gradient(mediumpurple, royalblue); width: 200px;
    height: 200px;
}

.gradients-positioned { background:
        radial-gradient(at top left, blue, red); width: 200px;
    height: 200px;
    color: white;
}

.gradients-positioned-mine { background:
        radial-gradient(at bottom right, purple, green); width: 200px;
    height: 200px;
    color: white;
}


.animation-keyframes-mine {
    position: relative;
    top: 0px;
    animation-iteration-count: 2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-name: slidein;
    width: 150px;
    height: 285px;
    background-color: dodgerblue;
    color: black;
}

@keyframes slidein {
    from {
        position: relative;
        top: 0px;
        font-size: 25%;
        margin-left: 85%;
        width: 150px;
        height: 225px;
        background-color: rebeccapurple;
        color: black;
    }


    50% {
        position: relative;
        top: -400px;
        font-size: 125%;
        margin-left: 75%;
        width: 100px;
        height: 100px;
        background-color: midnightblue;
        color: black;
    }

    75% {
        position: relative;
        top: -400px;
        font-size: 10%;
        margin-left: 10%;
        width: 300px;
        height: 300px;
        background-color: purple;
        color: black;
    }

    to {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 0%;
        width: 800px;
        height: 120px;
        background-color: darkslategrey;
        color: black;
    }
}

.flex-container {
    border-width: 2px;
    border-color: purple;
    border-style: solid;
}
.flex-box {
    border: 5px black solid;
    margin: 15px;
    padding: 15px;
}
.flex-box-1 {
    background-color: cadetblue;
}
.flex-box-2 {
    background-color: royalblue;
    color: white;
}
.flex-box-3 {
    background-color: darkslateblue;
    color: white;
}

.flex-container-center{
    display: flex;
    justify-content: center;
}

.flex-container-end{
    display: flex;
    justify-content: end;
}

.flex-container-space-around{
    display: flex;
    justify-content: space-around;
}

.flex-container-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-container-align-flex-start {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-container-align-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container-to-fill {
    display: flex;
}
.flex-container-to-fill > .flex-box {
    flex-basis: 100%;
}

@media (min-width: 300px) and (max-width: 600px) {
    body {
        background-color: yellow;
    }
    .media-query {
        background-color: dimgray;
        color: darkblue;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: blue;
        color: white;
    }
    .media-query {
        background-color: mediumseagreen;
        color: white;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    body {
        background-color: darkslateblue;
        color: white;
    }
    .media-query {
        background-color: peachpuff;
        color: black;
    }
}






